@using System.Web;
@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<style>
    .multiline {
        white-space: pre-line;
    }
</style>
<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <div class="blog-post-area">
                </br>
                <h2 class="title text-center">Hakkımızda</h2>
                @foreach (var item in Model)
                {
                    <div class="single-blog-post">

                        <h3 class="text-center">@item.Title</h3>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-clock-o"></i> @item.HTime</li>
                                <li><i class="fa fa-calendar"></i> @item.HDate.ToString("dd/MM/yyyy")</li>
                            </ul>

                        </div>
                        <div style="text-align:center">
                            <a href="">
                                <img style="max-width:200px;" src="/AboutPhoto/@item.ImageUrl" alt="">
                            </a>
                        </div>
                        @* <%:Html.TextAreaFor(x => x.Description, new { @class = "resizer" }) %> *@
                        @* <p>@Html.Raw(item.Description)</p> *@
                        <div class="multiline">
                            @Html.Raw(item.Description)
                        </div>
                    </div>
                    
                    
                }
                </br>

                @* <div class="pagination-area">
                <ul class="pagination">
                <li><a href="" class="active">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
                </div> *@
            </div>
        </div>
    </div>
</div>

