@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Hakkımızda Yönetim Sayfası</h4>
        <p class="card-subtitle mb-4">
            Hakkımızda sayfası ile ilgili yönetim sayfasıdır.

        </p>
        <a href="/Admin/About/CreateAbout/" class="btn btn-outline-primary">Yeni Hakkımızda Girişi</a>
        <br />
        <br />
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>HTime</th>
                        <th>HDate</th>
                        <th>ImageUrl</th>
                        <th>Description</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.Title</td>
                            <td>@item.HTime</td>
                            <td>@item.HDate</td>
                            <td>@item.ImageUrl</td>
                            <td>@item.Description</td>
                            <td><a href="/Admin/About/RemoveAbout/@item.Id" class="btn btn-outline-danger btnConfirm">Sil</a></td>
                            <td><a href="/Admin/About/UpdateAbout/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
    <!-- end card-body-->
</div>

